@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0d1117;
    color: #e2e8f0;
    scrollbar-gutter: stable;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1a202c; 
}
::-webkit-scrollbar-thumb {
  background: #4a5568; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #718096; 
}